# Supabase credentials
NEXT_PUBLIC_SUPABASE_URL=https://scssabcfpugtmyqsdnst.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNjc3NhYmNmcHVndG15cXNkbnN0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTEzODY2ODcsImV4cCI6MjA2Njk2MjY4N30._qFY4LCkGSHPMpEEQbywTequv9wxXcaeK8GUyTYBp1k
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNjc3NhYmNmcHVndG15cXNkbnN0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MTM4NjY4NywiZXhwIjoyMDY2OTYyNjg3fQ.TT2vE5ep8R5MkObs9N5wA6MQY0EHP2Z4_pBcW1zk2yg
SHOPIFY_ADMIN_TOKEN=your_shopify_admin_token_here
SHOPIFY_API_KEY=98012065b4f62451432757419397a497
SHOPIFY_API_TOKEN=fbe08219c1d705f5223354c6fac95261
SHOPIFY_STORE_URL=https://paka-power-life.myshopify.com
